<html>
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
    <style>
      #chart {
        position: absolute;
        left: 10px;
        right: 10px;
        top:10px;
        bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div id="chart"></div>
    <script>
      var options = {
        legend: 'always',
        showRangeSelector: true,
        customBars: true,
        logscale: false,
      }
      var g = new Dygraph(
        document.getElementById('chart'),
        '/portfolios/info/', options
      );
    </script>
  </body>
</html>
